*,
::after,
::before {
    box-sizing: border-box;
}



.container {
    margin: 2% auto;
}

.row {
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

.mainbannerdesktop {
    display: block;
}

.mainbannermob {
    display: none;
}

a {
    text-decoration: none;
}

nav a {
    color: #263238;
    padding: 0 10px;
}

.headbtn {
    border: 1px solid #263238;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannertitle h1 {
    font-size: 64px;
    margin: 0;
}

.title2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mainbanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainbanner>div {
    width: 50%;
}

.skillsmob {
    display: none;
}

.btn1 {
    border: 20px solid #263238;

    color: #fff;
    background: #263238;
    border-radius: 15px;
    font-size: 36px;
    margin-top: 10%;
    text-align: center;
    width: fit-content;
}

.skillbtn {
    padding: 5% 15%;
    border: 1px solid #263238;
    background: #263238;
    color: #fff;
    width: max-content;
    border-radius: 5px;
}

.speaking {
    padding: 70px 20px 70px 20px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    border-radius: 10px;
    margin: 0;
}

.speaking h2 {
    margin-top: ;
}

.writing {
    padding: 0px 20px 40px 20px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    width: fit-content;
    border-radius: 10px;

}

.reading {
    padding: 0px 20px 40px 20px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    width: fit-content;
    border-radius: 10px;
}

.part2a {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.part1 {
    width: 40%;
}

.part2 {
    width: 60%;
}

.listening {
    display: flex;
    padding: 0 20px;
    padding-bottom: 5%;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    width: max-content;
    border-radius: 10px;
    margin-top: 2%;
    width: 100%;
    align-items: center;
}

.skillblocks {
    display: flex;
    justify-content: space-between;
}

.aboutmob {
    display: none;
}

.about {
    display: block;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.aboutblocks {
    display: flex;
    justify-content: space-between;
}

.block1 p,
h1 {
    margin: 0;
    padding: 0;
}

.block1 {
    text-align: center;
}

.abouttitle {

    justify-content: space-between;
}

.part2 {
    width: 59%;
    height: 100%;
}

.part2a>div {
    width: 49%;
}

.price {
    display: flex;
    align-items: center;

    border: 1px solid #EEEEEE;
    background: #EEEEEE;
    border-radius: 5px;
    padding: 1% 3%;
}

.price h2,
p {
    margin: 0;
}

.pricingblocks {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.pricing h1 {
    text-align: center;
}

.pricing {
    margin-top: 10%;
}

.price {
    margin-top: 10%;
}

.skills h1 {
    text-align: center;
    margin: 5% 0;
}

.skills {
    width: 100%;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}

.form input {
    border-radius: 10px;
    width: 55%;
    padding: 0 10px;
}

.footbtn {
    padding: 20px;
    color: #fff;
    background: #263238;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

.contactus h1 {
    margin: 5% 0;
}

h1 {
    font-size: 48px;
}

p {
    color: #8F95A5;
}

.copyrights p {
    font-size: 24px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}

.contact {
    margin-bottom: 10%;
}

main img {
    width: 100%;
}

.abouttitle {
    width: 50%;
}

.aboutbanner {
    width: 50%;
}

.pricingblocks>div {
    width: 30%;
}

.contact>div {
    width: 49%;
}

.copyrights p {
    font-size: 16px;
}
.contactmob {
    display: none;
}
.contactmobile {
    display: none;
}

.contactdesktop {
    display: block;
}

@media (max-width: 992px) {
    nav {
        display: block;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    nav {
        display: block;
        align-items: center;
        text-align: center;
    }

    img {
        width: 100%;
    }

    .copyrights img {
        width: auto;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }

    .speaking h2 {
        margin: 15% 0;
    }

    h1 {
        font-size: 30px;
    }

    .copyrights p {
        font-size: 13px;
    }

    .contact img {
        width: 100%;
    }

    .contactmob {
        display: none;
    }
    .contactmobile {
        display: none;
    }

    .contactdesktop {
        display: block;
    }
}


@media (max-width: 575px) {
    .row {
        width: 90%;
    }

    img {
        width: 100%;
    }

    .mainbannerdesktop {
        display: none;
    }

    .mainbannermob {
        display: block;
    }

    .aboutmob {
        display: block;
    }

    .about {
        display: none;
    }

    .contactmob {
        display: block;
    }

    .contactdesktop {
        display: none;
    }

    .copyrights .title1 img {
        width: auto;
    }

    .mainbanner {
        display: grid;
        align-items: center;
    }

    .contact img {
        width: 100%;
    }

    .skillsdesktop {
        display: none;
    }

    .skillsmob {
        display: block;
    }

    .mob {
        border: 1px solid #F5F5F5;
        background: #F5F5F5;
        padding: 0 10px 10px 10px;
        height: 490px;
        margin: 1%;
        position: relative;
    }

    .skillbtnmobile {
        padding: 2% 7%;
        border: 1px solid #263238;
        background: #263238;
        color: #fff;
        font-size: 12px;
        border-radius: 5px;
        position: absolute;
        bottom: 10%;
        width: 60%;
    }

    .skillsmobile {
        display: flex;

        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .skilmob h1 {
        margin: 3% auto;
        text-align: center;
        margin-top: 10%;
    }

    .skillsmobile>.mob {
        width: 40%;

    }

    .mainbannermobile {
        text-align: center;
        align-items: center;

    }

    .btn1mob {
        border: 20px solid #263238;

        color: #fff;
        background: #263238;
        border-radius: 15px;
        font-size: 18px;
        margin-top: 5%;
        text-align: center;

    }

    .title1mob {
        align-items: center;
    }

    .footbtn {
        padding: 10px;
    }

    .headbtn {
        padding: 10px 20px;
    }

    .abouttitlemob {
        text-align: center;
    }

    .aboutblocksmob {
        display: flex;
        justify-content: space-between;
    }

    .pricingblocks {
        display: block;
        justify-content: center;
        text-align: center;

    }

    .pricingblocks>div {
        width: 100%;
        align-items: center;
    }

    .price {
        width: 200px;

        text-align: center;
        align-items: center;
    }

    .contactmobile {
        margin-top: 15%;
        text-align: center;
    }

    .form {
        height: 60px;
        text-align: center;
    }

    .form input {
        width: 100%;
    }

    .footbtn {
        padding: 20px;
    }
}

@media (max-width: 36git 0px) {
    .skillsmobile>.mob {
        width: 90%;
    }

    .form {
        height: 30px;
        text-align: center;
    }

    .footbtn {
        padding: 5px;
    }
}